<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>ComiComu</h1>
      <p class="lead">みんなで勉強会を開こう</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <aside class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">游ゴシックの有効・無効切り替え</h4>
        </div>
        <div class="panel-body">
          <p>v3.3.5から<code>&lt;body&gt;</code>に<code>.no-thank-yu</code>を指定することで游ゴシックを使わないようにすることができるようになりました。</p>
          <p id="anti-yu-gothic-message">現在デモページは游ゴシックの指定が<span class="text-primary">有効</span>になっています。</p>
          <div><button id="anti-yu-gothic-button" class="btn btn-danger btn-block">游ゴシックを無効にする</button></div>
        </div>
      </aside>
    </div>
  </div>
</div>
