<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">

      <div class="page-header">
        <h1><%= @user.username %></h1>
          <p class="text-success">
            <% if @user.provider %>
             Twitterからのログイン
            <% end %>
          </p>
          <p class="bs-componet">
          </p>
      </div>

      <div class="bs-component">
        <h2>投稿したPost</h2>
        <ul class="list-group">
          <% @posts.each do |post| %>
          <li class="list-group-item">
            <span class="badge"><%= post.favorites.count %></span>
            <%= link_to post.title, post_path(post.id) %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="bs-component">
        <h2>コミットしたPost</h2>
        <ul class="list-group">
          <% @favorites.each do |favorite| %>
          <% post = favorite.post %>
          <li class="list-group-item">
            <%= link_to post.title, post_path(post.id) %>
          </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
